
<mat-card class="search-bar">
  <form [formGroup]="searchForm" class="search-form-container" (ngSubmit)="onSearchSubmit()">
    <!-- Single Date Picker -->
    <mat-form-field class="search-bar-element date-picker" appearance="outline">
      <mat-label>Select a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Select date">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="searchForm.get('date')?.hasError('pastDate')">
        Date cannot be in the past.
      </mat-error>
    </mat-form-field>

    <!-- Guests Input -->
    <mat-form-field class="search-bar-element" appearance="outline">
      <mat-label>Participants</mat-label>
      <input matInput formControlName="participants" placeholder="Number of participants" type="number" [min]="1" />
      <mat-error *ngIf="searchForm.get('participants')?.hasError('required')">
        Number of participants is required.
      </mat-error>
      <mat-error *ngIf="searchForm.get('participants')?.hasError('min')">
        Minimum is 1 participant.
      </mat-error>
    </mat-form-field>

    <button mat-raised-button class="search-bar-button" color="primary" type="submit" [disabled]="searchForm.invalid">
      Search
    </button>

  </form>
</mat-card>
<mat-card>

  <div *ngIf="activity" class="activity-header">
    <h1>Select a Timeslot for: {{ activity.name }}</h1>
    <div class="price-container">
      <p>Price per Person: <span class="price">{{ activity.price | currency: 'EUR' }}</span></p>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">




    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let timeslot"> {{ timeslot.date | date }} </td>
    </ng-container>

    <!-- Start Time Column -->
    <ng-container matColumnDef="startTime">
      <th mat-header-cell *matHeaderCellDef> Start Time </th>
      <td mat-cell *matCellDef="let timeslot"> {{ convertToTime(timeslot.startTime) | date: 'shortTime' }} </td>    </ng-container>

    <!-- End Time Column -->
    <ng-container matColumnDef="endTime">
      <th mat-header-cell *matHeaderCellDef> End Time </th>
      <td mat-cell *matCellDef="let timeslot"> {{ convertToTime(timeslot.endTime) | date: 'shortTime' }} </td>    </ng-container>

    <!-- Capacity Column -->
    <ng-container matColumnDef="capacity">
      <th mat-header-cell *matHeaderCellDef> Capacity </th>
      <td mat-cell *matCellDef="let timeslot"> {{ timeslot.capacity }} </td>
    </ng-container>

    <!-- Occupied Column -->
    <ng-container matColumnDef="occupied">
      <th mat-header-cell *matHeaderCellDef> Occupied </th>
      <td mat-cell *matCellDef="let timeslot"> {{ timeslot.occupied }} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef> Select </th>
      <td mat-cell *matCellDef="let timeslot">
        <mat-radio-button
          [checked]="selectedTimeslot?.id === timeslot.id"
          (change)="selectTimeslot(timeslot)">
        </mat-radio-button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  </table>

  <mat-paginator [length]="totalTimeslots" [pageSize]="pageSize" (page)="onPageChange($event)">
  </mat-paginator>

</mat-card>
<div class="footer">
  <!-- Display selected slot details -->
  <mat-card *ngIf="selectedTimeslot" class="slot-details-card">
    <h2>Selected Timeslot</h2>
    <p><strong>Date:</strong> {{ selectedDate | date}}</p>
    <p><strong>Time:</strong> {{ selectedStartTime }} - {{ selectedEndTime }}</p>
    <p><strong>Participants:</strong> {{ selectedParticipants }}</p>
    <p><strong>Total Price:</strong> {{ calculatedPrice | currency: 'EUR' }} </p>
    <div class="book-now-container">
      <button mat-raised-button color="primary" class="book-now-button" [disabled]="!selectedTimeslot" (click)="bookNow()">
        Book Now
      </button>
    </div>
  </mat-card>

  <div class="loading-overlay" *ngIf="isLoading">
    <div class="loading-text">Loading...</div>
  </div>

  <!-- Book Now button -->

</div>
