<div class="homepage-container">

  <mat-card class="search-bar">
    <form [formGroup]="searchForm" class="search-from-container" (ngSubmit)="onSubmit()">
      <mat-form-field class="search-bar-element date-range-picker" appearance="outline">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate formControlName="startDate" placeholder="Start date" (blur)="validateDateRange()">
          <input matEndDate formControlName="endDate" placeholder="End date" (blur)="validateDateRange()">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <mat-error *ngIf="searchForm.get('startDate')?.hasError('dateInvalid')">
          {{ searchForm.get('startDate')?.getError('dateInvalid') }}
        </mat-error>
        <mat-error *ngIf="searchForm.get('endDate')?.hasError('dateRangeInvalid')">
          {{ searchForm.get('endDate')?.getError('dateRangeInvalid') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="search-bar-element" appearance="outline">
        <mat-label>Guests</mat-label>
        <input matInput formControlName="persons" placeholder="Number of guests"/>
        <mat-error *ngIf="searchForm.get('persons')?.hasError('min')">
          Guests must be greater than 0
        </mat-error>
        <mat-error *ngIf="searchForm.get('persons')?.hasError('max')">
          Guests cannot exceed 6
        </mat-error>
        <mat-error *ngIf="searchForm.get('persons')?.hasError('pattern')">
          Enter a valid number between 1 and 6
        </mat-error>
      </mat-form-field>

      <mat-form-field class="search-bar-element" appearance="outline">
        <mat-label>Min Price (EUR)</mat-label>
        <input matInput formControlName="minPrice" placeholder="Min Price (EUR)"/>
        <mat-error *ngIf="searchForm.get('minPrice')?.hasError('pattern')">
          Please enter a valid number without any special characters or spaces.
        </mat-error>
        <mat-error *ngIf="searchForm.get('minPrice')?.hasError('minPriceInvalid')">
          Min Price must be between 1 and 10,000.
        </mat-error>
        <mat-error *ngIf="searchForm.get('minPrice')?.hasError('invalidNumber')">
          {{ searchForm.get('minPrice')?.getError('invalidNumber') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="search-bar-element" appearance="outline">
        <mat-label>Max Price (EUR)</mat-label>
        <input matInput formControlName="maxPrice" placeholder="Max Price (EUR)"/>
        <mat-error *ngIf="searchForm.get('minPrice')?.hasError('pattern')">
          Please enter a valid number without any special characters or spaces.
        </mat-error>
        <mat-error *ngIf="searchForm.get('maxPrice')?.hasError('maxPriceInvalid')">
          Max Price must be between 1 and 10,000.
        </mat-error>
        <mat-error *ngIf="searchForm.get('maxPrice')?.hasError('priceInvalid')">
          Max Price must be greater than Min Price.
        </mat-error>
        <mat-error *ngIf="searchForm.get('maxPrice')?.hasError('priceEqual')">
          Max Price and Min Price must not be equal.
        </mat-error>
        <mat-error *ngIf="searchForm.get('maxPrice')?.hasError('invalidNumber')">
          {{ searchForm.get('maxPrice')?.getError('invalidNumber') }}
        </mat-error>
      </mat-form-field>

      <button mat-raised-button class="search-bar-button" color="primary" type="submit" [disabled]="searchForm.invalid">Search</button>
    </form>
  </mat-card>

  <div class="welcome-container">
    <h1 class="welcome-header">Welcome to {{ uiConfig?.hotelName }}</h1>
    <p class="description-short">{{ uiConfig?.descriptionShort }}</p>
  </div>

  <!-- Carousel Section -->
  <div class="slider-container">
    <!-- Slider Arrows -->
    <button *ngIf="convertedImages.length > 1" mat-icon-button (click)="previousImage()" class="slider-button">
      <div class="slider-button-chevron-left">
        <mat-icon>chevron_left</mat-icon>
      </div>
    </button>

    <!-- Main Image -->
    <img [src]="currentImage" alt="Hotel image" class="img-fluid main-image">

    <button *ngIf="convertedImages.length > 1" mat-icon-button (click)="nextImage()" class="slider-button">
      <div class="slider-button-chevron-right">
        <mat-icon>chevron_right</mat-icon>
      </div>
    </button>
  </div>

  <div class="activities-container">
    <h2>Activities</h2>
    <div class="activity-placeholder">
      <button mat-raised-button color="primary" [routerLink]="'/activities'">
        Explore Activities
      </button>
    </div>
  </div>

  <!-- About Us Section -->
  <div class="about-section">
    <h2>About Us</h2>
    <p>{{ uiConfig?.description }}</p>
  </div>

  <section class="map-section">
    <h2>Find Us</h2>
    <p>{{ uiConfig?.address }}</p>
    <iframe
      [src]="googleMapsUrl"
      width="600"
      height="450"
      style="border:0;"
      allowfullscreen=""
      loading="lazy">
    </iframe>
  </section>
</div>
