.restricted-size {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
}

.table-element {
  height: 105px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  margin-top: 16px;
  margin-right: 16px;
}

.search-bar {
  margin: 20px auto;
  max-width: 1000px;
}

.search-from-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
}

.search-bar-element {
  flex: 1;
  margin-left: 10px;
  margin-top: 25px;
  margin-right: 10px;
}

.search-bar-button {
  margin-left: 20px;
  margin-right: 10px;
  width: 120px;
  height: 60px;
}
